# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data
dataset/
data/

# Environment files
.env
*.env

# OS files
.DS_Store
Thumbs.db
